{# Key/value details of one expense, shared by the detail and delete-confirmation pages #}
{% load expense_extras %}
<dl class="facts">
    <div>
        <dt>Amount</dt>
        <dd>{{ expense.amount|inr }}</dd>
    </div>
    <div>
        <dt>Category</dt>
        <dd>{{ expense.get_category_display }}</dd>
    </div>
    <div>
        <dt>Date</dt>
        <dd>{{ expense.date|date:"d-m-Y" }}</dd>
    </div>
    <div class="facts-wide">
        <dt>Description</dt>
        <dd>{{ expense.description|default:"No description"|linebreaksbr }}</dd>
    </div>
    <div>
        <dt>Created</dt>
        <dd>{{ expense.created_at|date:"d-m-Y, h:i A" }}</dd>
    </div>
    <div>
        <dt>Last updated</dt>
        <dd>{{ expense.updated_at|date:"d-m-Y, h:i A" }}</dd>
    </div>
</dl>
